.AnsweredContainer {
    padding: 2.5%;
    padding-left: 4%;
    padding-right: 4%;
    border: 1px solid white;
    margin-top: 10px;
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px 0 20px 0;
    background-color: #fff;
}

.UnansweredContainer {
    padding: 2.5%;
    border: 1px solid white;
    margin-top: 10px;
    width: 98%;
    flex-direction: row;
    justify-content: center;
    border-radius: 20px 0 20px 0;
    background-color: rgba(255, 255, 255,0.8)
}

.Text {
    font-size: 17px;
    text-align: center;
    font-family: 'Play-Bold';
    color: #000;
}

.TextUnanswered {
    font-size: 17px;
    text-align: center;
    font-family: 'Play-Bold';
    color: #000;
}